.header{
    background: rgba( 16, 0, 0, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    font-size: 1.2rem;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    color:lavenderblush;

}

.navbar_brand{
    margin: 1rem;
    font-size: 1.3em;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar__links{
    color:lavenderblush;
    text-decoration: none;
    margin:0px 20px;
}
.navbar__links:hover{
    color: rgb(202, 39, 17);
}




